<nav class="navbar navbar-expand-lg bg-white shadow-sm rounded-3 mb-4">

    <div class="container-fluid">

        <button class="btn btn-primary d-lg-none" id="menuBtn">

            ☰

        </button>

        <h4 class="ms-3 mb-0">

            RentApp Pro

        </h4>

        <div class="ms-auto">

            <span class="fw-bold">

                Welcome,
                <%= user ? user.username : "Admin" %>

            </span>

        </div>

    </div>

</nav>