<div class="sidebar">

    <div class="logo">

        <h3>RentApp Pro</h3>

    </div>

    <a href="/dashboard">
        <i class="bi bi-grid-fill"></i>
        Dashboard
    </a>

    <a href="/renters">
        <i class="bi bi-people-fill"></i>
        Renters
    </a>

    <a href="/renters/add">
        <i class="bi bi-person-plus-fill"></i>
        Add Renter
    </a>

    <a href="/payments">
        <i class="bi bi-cash-stack"></i>
        Payments
    </a>

    <a href="/money">
        <i class="bi bi-wallet2"></i>
        Money
    </a>

    <a href="/settings">
        <i class="bi bi-gear-fill"></i>
        Settings
    </a>

    <a href="/logout">

        <i class="bi bi-box-arrow-right"></i>

        Logout

    </a>

</div>